{% extends "layout.html" %}
{% block content %}
{# le formulaire #}
<form action="" method="post">
  <h1>Connexion</h1>
  <table>
    <tr>
      <td><label for="pseudo">Pseudo : </label></td>
      <td><input type="text" name="pseudo" id="pseudo" required /></td>
    </tr>
    <tr>
      <td><label for="password">Mot de passe : </label></td>
      <td><input type="password" name="password" id="password" required /></td>
    </tr>
  </table>

  {#Le captcha#}
  {{captcha|safe}}


  <input class="button" type="submit" value="Connexion" style="background-color: rgb(63, 63, 63);" />
  <a href="changepasseV1">Si vous venez de la V1, merci de changer votre mot de passe ici.</a>
  <a href="resetpass">Si vous avez perdu votre mot de passe venez ici</a>
  {% if err %}
  <p style="color: red;"">{{err}}</p>
      {% endif%}
    </form>
      
      

{% endblock %}