{% extends "layout.html" %}
{% block content %}
<form action="">
    <div>
        <label for="pseudo">Pseudo : </label>
        <input type="text" name="pseudo" id="pseudo" value="{{info['pseudo']}}" disabled/>
    </div>

    <div>
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" value="{{info['mail']}}" />
    </div>

    <div>
        <label for="mdp1">Ancien mot de passe : </label>
        <input type="password" name="mdp1" id="mdp1"/>

        <label for="mdp2">Nouveau mot de passe : </label>
        <input type="password" name="mdp2" id="mdp2"/>

        <button onclick="changerMDP()" type='button'> Changer de mot de passe </button>
    </div>

    <div class="comptes_externes">
        {#Comptes sur les autres sites#}
        <p>Comptes sur les autres sites :</p>
        <div class="table">
            {% for i in ["jvc", "onche", "avenoel", "2sucres"] %}
            <div class="tr">
                <div class="td"><img src="/static/img/sites_externes/{{i}}.png"></div>
                <div class="td">{{i}}</div>
                <div class="td"><input type="text" name="site_externe_{{i}}" id="site_externe_{{i}}"
                        value="{{info['comptes_autres_sites'][i]}}" /></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pp">
        {#La photo de profil#}
        <img class="ppimg" src="{{info['avatar']}}" id="imagePreview"/>
        {#<a class="button">Changer de photo de profil</a>#}
        <input type="file" id="fileInput" accept="image/png, image/jpeg">

    </div>
</form>
<div>
    <hr>
    <h2>Description</h2>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <!-- Create the editor container -->
    <div class="text_editor">
        <div id="editor">
            {{info["description"]}}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="/static/editor.js"></script>


<a class="button" id="valider" onclick="valider()">Valider</a>

<script>
    //Envoyer vers la base les nouvelles info
    function valider() {
        const formData = new FormData();

        formData.append("token", temp_token);
        formData.append("description", quill.root.innerHTML)
        formData.append("email", document.getElementById("email").value)
        
        for(let i of ["jvc", "onche", "avenoel", "2sucres"]) {
            let val = document.getElementById("site_externe_" + i).value
            formData.append("site_externe_" + i, val)
        }

        //La pp :
        if(changed_pp == true) {
            //Changement de pp on ajoute
            let file = document.getElementById('fileInput').files[0];
            console.log(file)
            formData.append('pp', file);
        }

        const response = fetch("/comptes/ajax_modif_profil", {
            method: "POST",
            body: formData,
        }).then(data => {
            // Traitez les données de la réponse ici
            console.log('Success:', data);
            // On vas rediriger
            window.location.href="{{session.profil_lien}}"
            

        });
    }

    //Changement de mot de passe
    async function changerMDP() {
        let ancien_mdp = document.getElementById("mdp1").value
        let nouveau_mdp = document.getElementById("mdp2").value
        if(ancien_mdp == "" || nouveau_mdp == "") {
            alert("Merci de remplir les champs")
            return
        }

        console.log("Ancien mdp : ", ancien_mdp)
        console.log("Nouveau mdp : ", nouveau_mdp)

        const formData = new FormData();
        formData.append("token", temp_token);
        formData.append("ancien_mdp", ancien_mdp)
        formData.append("nouveau_mdp", nouveau_mdp)

        let data = await response.text()
        console.log(data)
        if(data == "ERRMDP") {alert("Mot de passe invalide")}
        if(data == "OK") {window.location.href = "/comptes/connexion"}
    }

    //TODO: changer pp
    
    changed_pp = false
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file && (file.type === 'image/png' || file.type === 'image/jpeg')) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById('imagePreview');
                img.src = e.target.result;
                img.style.display = 'block';
            };
            reader.readAsDataURL(file);
            changed_pp = true
        } else {
            alert('Veuillez sélectionner un fichier PNG ou JPG.');
            changed_pp = false
        }
    });


</script>
{% endblock %}