{% extends "layout.html" %}
    {% block content %}
    <h1>{{chapitre["fic_titre"]}}</h1>
    <hr/>
    <p class="center">Par : 
        {#La liste des auteurs de la fic#}
        {% for i in chapitre["fic_auteur"] %}
        <a href="{{i[0]}}" class="auteur">{{i[1]}}</a>
        {% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <p class="center">Genre :
        {#La liste des genres#}
        {% for i in chapitre["fic_genres"] %}
        {{i}}
        {% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <p class="center">Status : {{chapitre["fic_status"]}}</p>
    <p class="center">Note :
        {#Note#}
        {% for a in chapitre["fic_note"]%}
        {% if a %}
        <img src="/static/img/noel.gif">
        {% else %}
        <img src="/static/img/noel-gris.gif">
        {% endif %}
        {% endfor %}

    </p>
    {% if session.logged %}
    <p class="center">
        Votre note :
        {% for i in range(5) %}
        <img src="/static/img/noel-gris.gif" id="custom-note-{{i}}" onclick="send_custom_note('{{i+1}}')" onmousemove="update_custom_note('{{i+1}}')" onmouseleave="update_custom_note(custom_note)">
        {% endfor %}
    </p>

    <script>
        var custom_note = '{{chapitre["user_note"]}}'
        function update_custom_note(note) {
            for (let i = 0; i < 5; i++) {
                let element = document.getElementById("custom-note-" + i);
                if(note > (i)) {
                    //actif
                    element.src = "/static/img/noel.gif"
                }
                else {
                    //grisé
                    element.src = "/static/img/noel-gris.gif"
                }
            }
            
        }

        function send_custom_note(note) {
            
            //Requête ajax
            console.log("Envoie de la note : " + note);
            custom_note = note

            const formData = new FormData();
            formData.append("token", temp_token);
            formData.append("note", note);
            formData.append("fic", "{{chapitre['fic_id']}}")


            const response = fetch("/comptes/changenote", {
                method: "POST",
                body: formData,
              });

        }

        update_custom_note(custom_note)
    </script>
    {% endif %}

    <hr/>
    <h1>Chapitre {{chapitre["chapitre"]}}</h1>
    <h1>{{chapitre["chapitre_titre"]}}</h1>
    <p class="chapitre_info">Publié le {{chapitre["chapitre_date"]}} par <a href="{{chapitre['chapitre_auteur_lien']}}">{{chapitre['chapitre_auteur']}}</a></p>
    <div class="fic_content">
        {{chapitre["chapitre_content"]|safe}}
    </div>

    {#Navigation chapitre précedent et chapitre suivant#}
    <div class="inner_nav">
        {#Fic précedent#}
        {% if chapitre["chapitre"] != 1 %}
        <a href="{{chapitre['chapitre']-1}}"><img src="/static/img/chevron_left.svg" style="filter: invert(70%)"></a>
        {% else %}
        <a><img src="/static/img/chevron_left.svg" style="filter: invert(40%)"></a>
        {% endif %}

        {#Fic suivante#}
        {% if chapitre["chapitre"] < chapitre["nbChapitres"] %}
        <a href="{{chapitre['chapitre']+1}}"><img src="/static/img/chevron_right.svg" style="filter: invert(70%)"></a>
        {% else %}
        <a><img src="/static/img/chevron_right.svg" style="filter: invert(40%)"></a>
        {% endif %}
    </div>

    <hr/>
    <h1>Commentaires</h1>
    <div class="commentaire">
        {% for i in commentaires %}
        <div class="msg">
            <img class="commentaire_pp" src="{{i['avatar']}}"/>
            <div class="msg-content">
                <a class="pseudo" href="{{i['lien']}}">{{i["pseudo"]}}</a>
                <p class="date">{{i["date"]}}</p>
                <p class="msg-content-content">{{i["content"]|safe}}</p>
            </div>
        </div>
        {% endfor %}


        {% if session.logged %}
        {#L'ÉCRITURE DE MESSAGES#}
        {#Ouais je sais que ça a rien à faire là#}
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
        <!-- Create the editor container -->
        <div class="text_editor">
            <div id="editor"></div>
            <div class="button" onclick="poster_message()">Poster</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
        <script src="/static/editor.js"></script>

        <script>
            function poster_message() {
                const contentHTML = quill.root.innerHTML;
                const formData = new FormData();
                    formData.append("token", temp_token);
                    formData.append("content", contentHTML)
                    formData.append("chapitre", '{{chapitre["chapitre_id"]}}')

                    const response = fetch("/comptes/chapitre_send_comment", {
                        method: "POST",
                        body: formData,
                    }).then(data => {
                        // Traitez les données de la réponse ici
                        console.log('Success:', data);
                        //Rafraichir la page
                        location.reload()
                    });
            }
        </script>
        
        {% else %}
        <p>Vous devez être connecté pour poster un commentaire<br/><br/></p>
        {% endif %}

    </div>
{% endblock %}