{% extends "layout.html" %}
    {% block content %}
    {% if request.args["msg"] %}
        {% if request.args.get("msg") == "1" %}
        <p style="color: green; text-align: center; font-size: 1.2em;">
            Bienvenue sur Noelfic, avant de vous connecter merci de valider votre compte grâce au lien que vous avez reçu par email.<br/>
            Si vous avez le moindre problème vous pouvez me contacter grâce au contact disponible en bas de la page.<br/>
            Bonne visite ! <img src="/static/img/noel.gif" alt=":noel:">/
        </p>
        {% elif request.args.get("msg") == "2" %}
        <p style="color: green; text-align: center; font-size: 1.2em;">
            Bon retour parmis nous ! <img src="/static/img/noel.gif" alt=":noel:">/
        </p>
        {% elif request.args.get("msg") == "3" %}
        <p style="color: green; text-align: center; font-size: 1.2em;">
            Votre mot de passe a été changé avec succès, vous pouvez désormais vous connecter
        </p>
        {% elif request.args.get("msg") == "4" %}
        <p style="color: green; text-align: center; font-size: 1.2em;">
            Votre compte a bien été validé, vous pouvez désormais vous connecter
        </p>
        {% endif %}

    {% endif %}

    <h2><img src="/static/img/noel.gif" alt=":noel:"> Bienvenue <img src="/static/img/noel.gif" alt=":noel:"></h2>
    <hr/>
    <p>Bienvenue sur NoelFic.fr. Ce site a pour vocation de regrouper toutes les histoires (et pas uniquement les fictions) des auteurs prolifiques des forums de jeuxvideo.com.</p>
    <p>Le fonctionnement du site est simple : un auteur crée un compte, puis une histoire, et poste ses chapitres.</p>
    <p>Évidemment, nous nous réservons le droit de bannir quiconque outrepasse ses libertés, et d'effacer partie ou totalité du contenu qu'il aurait apporté au site.</p>
    <p>Ceci étant dit, un grand merci à tous les auteurs pour leur participation.</p>
                
    <br/>
    <h2>Derniers chapitres ajoutés</h2>
    <hr/>
    <table class="dernchaps">
        {#derniers chapitres#}
        <tbody>
            {%for chapitre in chapitres %}
                <tr>
                    <td><a href="{{chapitre['lien']}}">{{chapitre["titre"]}}</a></td>
                    <td class="num">Chapitre {{chapitre["num"]}}</td>
                    <td>{{chapitre["date"]}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <h2>La penséedeo du jour</h2>
    <hr/>
    {#La penséedeo#}
    <div class="penseedeo">
        <p>[{{penseedeo["date"]}}] par <a href="{{penseedeo['auteur_lien']}}">{{penseedeo["auteur"]}}</a> - <a href="{{penseedeo['lien']}}">Toutes les penséedéo</a></p>
        <div class="content">
            {{penseedeo["content"]|safe}}
        </div>
    </div>
    <h2>Minichat</h2>
    <hr/>
    <div id="minichat">
        <div class="commentaire" id="minichat_messages"">{{minichat_messages|safe}}</div>
        {% if session.logged %}
        {#L'ÉCRITURE DE MESSAGES#}
        {#Ouais je sais que ça a rien à faire là#}
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
        <!-- Create the editor container -->
        <div class="text_editor">
            <div id="editor"></div>
            <div class="button" onclick="poster_message()">Poster</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
        <script src="/static/editor.js"></script>

        <script>
            function poster_message() {
                const contentHTML = quill.root.innerHTML;
                const formData = new FormData();
                    formData.append("token", temp_token);
                    formData.append("content", contentHTML)
            
                    const response = fetch("/comptes/minichat_send_msg", {
                        method: "POST",
                        body: formData,
                    }).then(data => {
                        // Traitez les données de la réponse ici
                        console.log('Success:', data);
                        refreshChat()
                        quill.setContents("");
                    });
            }
        </script>
        
        {% else %}
        <p>Vous devez être connecté pour participer au chat.<br/><br/></p>
        {% endif %}
        <a onclick="refreshChat()" class="button">rafraîchir</a>
        <a href="/minichat" class="button">Accéder à tous les messages</a>

    </div> 
    <script>
        async function refreshChat() {
            let content = await fetch("/actions/action_get_chat_messages")
            document.getElementById("minichat_messages").innerHTML = await content.text()
        }
    </script>
{% endblock %}